body {
    text-align: center;
}

.navbar {
    margin-bottom: 3;
}

.nav-item {
    margin-left: 75px;
    margin-right: 50px;
}

.container-fluid {
    padding: 0;
}

.social-icon {
    padding: 1px;
}